@import url('https://fonts.googleapis.com/css?family=Roboto');


body {
    background-color:#5476B2;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.wrapper {
    width: 100%;  
    background-color: #F7FFF9;
    margin: 0 auto;
    max-width: 1100px;
    overflow: hidden;
}
h1 {
    padding-left: .6em;
    color: #CC3114;
}
h2 {
    text-align: center;
    font-size:  22;
    color: #CC3114;
}
h3 {
    text-align: left;
    padding-left: .6em;
    font-size: 17;
    color: #CC3114;
}

p {

    padding-left: 1em;
    font-size: 16;
}
h4{
    padding-left: .6em;
    color: #CC3114;
    font-size: 20;
}
a{
    text-decoration: none;
    color: #362F78;
}

footer {
    background-color: #333;
    color: #fff;
    position: relative;
    width: 100%;
    max-width: 1100px;
    height: auto;
    margin: 0 auto;
    top: -16;
}
footer p {
    font-size: .8em;
    padding: 1em 1em .5em 1.2em;
}


.content {
    margin: 134 0;
    margin-bottom: 10;
}

.textContent {
    
    text-align: center;
    padding: 0px 1.5%;
    font-size: 10;
    margin-bottom: 30;
}

.title {
    text-align: left;
    margin-top: 40;
}

.landingPageText {
    text-align: left;
    float: left;
    max-width: 50%;
}

/*menu */
ul {
    list-style-type: none;
    margin: 78 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-size: 1.5em;
    z-index: 10;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #CC3114;
}


.top {
    position: fixed;
    width: 100%;
    max-width: 1100px;
    z-index: 10;
}

.logo {
    background-image: url(images/top/voodooscene.png);
    position: fixed;
    width: 100%;
    max-width: 1100px;
    height: auto;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.horImage img{
    margin: 20 auto;
    width: 70%;
}

.verImage img{
    margin: 20 auto;
    width: 50%;
}

.projectHeaderPicture img{ 
    width: 100%;
}

/* Banner */
#Banner {
    width: 200%;
    position: relative;
    margin: 0; 
    padding: 0; 
    overflow: hidden;
}

#Banner > * {
    box-sizing: border-box;
    padding: 0 1em;
    width: 50%; height: 350px;
    
    color: #ffffff;
    text-shadow: 0 0 1em black, -1px 0 #3f474a, 0 1px #3f474a, 1px 0 #3f474a, 0 -1px #3f474a;
    font-family: 'Oswald', sans-serif;
    letter-spacing: .1em;
    font-size: 25px;
   
    background-position: center;
    background-size: cover;
   
    float: left;
    
    cursor: pointer;
}
/* End Banner */